{% extends 'base.html.twig' %}

{% block title %}Hello StudentsController!{% endblock %}

{% block body %}

{%for student in students%}
<ul>    
<li>{{student.name}}</li>
<li>{{student.age}}</li>

</ul>
{% endfor %}
{% endblock %}
